<head>
    <title><%- title %></title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
    <%- include('../partials/headerLinks.ejs') %>
    <%- include('../partials/nav.ejs') %>
    <main><%-body%></main>
    <%- include('../partials/footer.ejs') %>
 

    <script src="js/main.js"></script>
</body>
</html>
